# Data Science Tools and Ecosystem using

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are
1.Python
2.R
3.SQL
4.Julia
5.Scala

Some of the commonly used libraries used by Data Scientists include
1.Pandas
2.Numpy
3.Scikit-learn
4.Tensorflow
5.PyTorch
6.Matplotlib

|   Data Science Tools   |
|_ _ _ _ _ _ _ _ _ _ _ _ |
| Jupyter Notebook       |        
| Rstudio                |
| VS Code                |
| Spyder                 |
|                        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

**Objectives**:
- List popular languages for Data Science  
- Identify common libraries used in Data Science  
- Create tables and formatted text in Markdown  
- Execute basic arithmetic operations in Python  
- Convert units (e.g., minutes to hours) programmatically

##Author
[Vinay Kale]